<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- The character set should be utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Enables media queries -->
	<meta name="viewport" content="width=device-width"/>
	<!-- Link to the email's CSS, which will be inlined into the email -->
	<link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
	<table class="body">
		<tr>
			<td>
				<center>
					<spacer size="30"></spacer>
					<container>
						<row class="bb-header bd-bottom">
							<columns small="8 first">
								<p class="logo"><img src="../img/general/logo.png" alt="beauty box" /></p>
							</columns>

							<columns small="last">

								<columns small="4 first">	

									<a href="#"><img src="../img/general/social__instagram.png" alt="Instagram" /></a>
								</columns>

								<columns small="4">

									<a href="#"><img src="../img/general/social__vk.png" alt="Vk" /></a>
								</columns>

								<columns small="4 last">

									<a href="#"><img src="../img/general/social__facebook.png" alt="Facebook" /></a>
								</columns>

							</columns>

						</row>
					</container>

					<container>
						<row class="bb-body">
							<columns class="first">
								<spacer size="15"></spacer>
								<h1 class="main-title text-center">Заголовок h1</h1>
								<h2 class="main-title">Заголовок h2</h2>
								<h3 class="main-title">Заголовок h3</h3>	
								<center>
									<button href="#" class="button">Button</button>
								</center>
								
								<spacer size="30"></spacer>
								<ol>
									<li>some text</li>
									<li>some text</li>
									<li>some text</li>
									<li>some text</li>
									<li>some text</li>
								</ol>
							</columns>
						</row>
					</container>					 
					
					<container>
						<row class="bg-footer bb-footer">
							<columns>
								<spacer size="30"></spacer>
								<p>2017-2018 &copy; Beautybox.ru</p>
							</columns>
							<columns>
								<spacer size="30"></spacer>
								<p class="text-right"><a href="#">Отписаться от раззылки</a></p>
							</columns>
						</row>
					</container>
					
				</center>
			</td>
		</tr>
	</table>    
	
</body>
</html>