<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <!-- Injection point for the inline <style> element. Don't remove this comment! -->
  <!-- <style> -->
  <!-- Wrapper for the body of the email -->
  <table class="body" data-made-with-foundation>
    <tr>
      <!-- The class, align, and <center> tag center the container -->
      <td class="float-center" align="center" valign="top">
        <center>
          <!-- The body of each email you write is injected here -->
          <container class="bd-bottom">
              <row>
                  <columns small="12" large="12">
                    <spacer size="12"></spacer>
                    <h1 class="h1 text-center">
                        <span>beauty</span> <span class="text-accent">market</span>
                    </h1>
                </columns>
            </row>
          </container>
          <container class="bd-bottom">
                <spacer size="30"></spacer>
            <row>
                <row>
                    <columns class="pl-0">
                        <p>
                            Здравствуйте, Евгения!
                        </p>
                    </columns>
                </row>
                <row>
                    <columns class="pl-0">
                        <p class="">
                            Спасибо, что выбрали наш интернет-магазин. В ближайшее время с вами свяжется наш менеджер для уточнения деталей заказа. 
                        </p>
                    </columns>
                </row>
                <row class="bg-footer bd-top bd-left bd-right">
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Номер заказа #000040</strong></p>
                    </columns>
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p class="text-right"><span class="dot">&nbsp;</span> В обработке</p>
                    </columns>
                </row>
                <row class="bd-left bd-right">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Получатель:</strong></p>
                    </columns>
                    <columns small="6" large="8" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>Евгения Назарова</p>
                    </columns>
                </row>
                <row class="bd-left bd-right">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Телефон:</strong></p>
                    </columns>
                    <columns small="6" large="8" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>+7 (927) 160-30-00</p>
                    </columns>
                </row>
                <row class="bd-left bd-right">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Е-mail:</strong></p>
                    </columns>
                    <columns small="6" large="8" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>nazarovaya@yandex.ru</p>
                    </columns>
                </row>
                <row class="bd-left bd-right">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Адрес доставки:</strong></p>
                    </columns>
                    <columns small="6" large="8 class="padding-castom"">
                        <spacer size="15"></spacer>
                        <p>Саратовская область г. Балаково ул. Ленина, д.50</p>
                    </columns>
                </row>
                <row class="bd-left bd-right">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Индекс:</strong></p>
                    </columns>
                    <columns small="6" large="8" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>412085</p>
                    </columns>
                </row>
                <row class="bd-left bd-right">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Способ доставки:</strong></p>
                    </columns>
                    <columns small="6" large="8" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>Почта России</p>
                    </columns>
                </row>
                <row class="bd-left bd-right bd-bottom">
                    <columns small="6" large="4" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>Способ оплаты:</strong></p>
                    </columns>
                    <columns small="6" large="8" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>Не выбран</p>
                    </columns>
                </row>
                <spacer size="30"></spacer>
                <row>
                    <columns small="6" large="8">
                        <p><strong>Всего товаров: 2</strong></p>
                    </columns>
                    <columns small="3" large="2">
                        <p class="color-gray text-center">Кол-во</p>
                    </columns>
                    <columns small="3" large="2">
                        <p class="color-gray text-center">Цена</p>
                    </columns>
                </row>
                <row>
                    <columns small="6" large="8" class="bd-top">
                        <spacer size="15"></spacer>
                        <row>
                            <columns small="4" large="4" class="pl-0">
                                <!-- alt добавлять ОБЯЗАТЕЛЬНО  -->
                                <img src="../img/general/3.jpg" alt="Картинка" width="100px" height="100px" class="bd-full">
                            </columns>
                            <columns small="8" large="8" class="pl-10">
                                <row>
                                    <p class="p-small fs-big"><strong>Ресницы черные</strong></p>
                                </row>
                                <row>
                                    <p class="color-gray p-small fs-small">Артикул: 412315123</p>
                                </row>
                                <row>
                                    <p class="color-dark p-small fs-small">Цвет: черный</p>
                                </row>
                                <row>
                                    <p class="color-dark p-small fs-small">100р/шт</p>
                                </row>
                            </columns>
                        </row>
                    </columns>
                    <columns small="3" large="2" class="bd-top">
                        <spacer size="15"></spacer>
                        <p class="text-center">20</p>
                    </columns>
                    <columns small="3" large="2" class="bd-top">
                        <spacer size="15"></spacer>
                        <p class="text-center">2000 руб.</p>
                    </columns>
                </row>
                <row>
                    <columns small="6" large="8" class="bd-top">
                        <spacer size="15"></spacer>
                        <row>
                            <columns small="4" large="4" class="pl-0">
                                <!-- alt добавлять ОБЯЗАТЕЛЬНО  -->
                                <img src="../img/general/3.jpg" alt="Картинка" width="100px" height="100px" class="bd-full">
                            </columns>
                            <columns small="8" large="8" class="pl-10">
                                <row>
                                    <p class="p-small fs-big"><strong>Ресницы черные</strong></p>
                                </row>
                                <row>
                                    <p class="color-gray p-small fs-small">Артикул: 412315123</p>
                                </row>
                                <row>
                                    <p class="color-dark p-small fs-small">Цвет: черный</p>
                                </row>
                                <row>
                                    <p class="color-dark p-small fs-small">100р/шт</p>
                                </row>
                            </columns>
                        </row>
                    </columns>
                    <columns small="3" large="2" class="bd-top">
                        <spacer size="15"></spacer>
                        <p class="text-center">20</p>
                    </columns>
                    <columns small="3" large="2" class="bd-top">
                        <spacer size="15"></spacer>
                        <p class="text-center">2000 руб.</p>
                    </columns>
                </row>
                
                <spacer size="15"></spacer>
                <row class="bg-footer">
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>Сумма:</p>
                    </columns>
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p class="text-right">5000 руб.</p>
                    </columns>
                </row>
                <row class="bg-footer">
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p>Скидка:</p>
                    </columns>
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p class="text-right">250 руб.</p>
                    </columns>
                </row>
                <row class="bg-footer">
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p><strong>К оплате:</strong></p>
                    </columns>
                    <columns small="6" large="6" class="padding-castom">
                        <spacer size="15"></spacer>
                        <p class="text-right"><strong>4750 руб.</strong></p>
                    </columns>
                </row>
                <spacer size="30"></spacer>
            </row>
            <row>
                <columns small="12" large="12">
                    <spacer size="30"></spacer>
                    <p class="color-gray text-center">
                        Если у вас возникли вопросы, вы можете оставить обращение<br> <a href="#" class="color-dark a-style">на сайте</a> или связаться с нами по бесплатному номеру <a href="tel:88005516998"  class="color-dark a-style">8 800 551-69-98</a>
                    </p>
                </columns>
            </row>      
          </container>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>